body{
    margin: 0;
    padding: 0;
    background: url("Images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    position: relative;
}

.h2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    display: flex;
    justify-content: center;
}

.name h1{
    color: red;
}


ul{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 125px;
}

ul li{
    font-size: 20px;

}
.sđt{
    
    display: flex;
    justify-content: flex-end;
    width: 100%;
    position: fixed;
}

.sđt h2{
    border: 1px solid black; 
}




.avatar{
    display: flex;
    justify-content: center;
}

img{
    border-radius: 50%; 
    border: solid white 4px;
    /*display: block; 
    margin-left: auto; 
    margin-right: auto;*/
    
}